.fondo-negro {
  --background: url('../../../assets/imagenes/cosas-lindas.jpg') no-repeat center center / cover;
  background-color: transparent;
  color: white;
}

.titulo-principal {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;

  .subtitulo {
    font-size: 25px;
    font-weight: normal;
    color: white;
  }
}

.visor-foto {
  display: flex;
  flex-direction: column; /* Apila los puntos arriba de la card */
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  
}

.indicadores {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 8px;
}

.punto {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  margin: 0 5px;
  opacity: 0.4;
  transition: all 0.3s ease;
}

.punto.activo {
  background-color: #007bff;
  opacity: 1;
}

/* HEADER TRANSLÚCIDO */
/* HEADER TRANSLÚCIDO - CORREGIDO */
ion-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
  --border-width: 0 !important;
  background: rgba(0, 0, 0, 0.6) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding-top: var(--ion-safe-area-top);
}


/* FOOTER CUSTOMIZADO */
.custom-tabbar {
  ion-toolbar {  
    --background: transparent;
    color: white !important;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0;

    ion-buttons {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    ion-button {
      --background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .tab-icon {
      width: 26px;
      height: 26px;
      object-fit: contain;
    }
  }
}
ion-title {
  color: white !important;
  text-align: center;
}

/* Asegurar que el contenido no quede detrás del header */
ion-content.fondo-negro {
  --padding-top: 56px; /* Ajusta según la altura de tu header */
  --padding-start: 0;
  --padding-end: 0;
  --padding-bottom: 0;
}
ion-button .tab-icon {
  filter: brightness(0) invert(1); /* transforma íconos oscuros a blancos */
  transition: filter 0.3s ease;
}

.mensaje-sin-fotos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding: 2rem;
  animation: fadeIn 0.6s ease;

  h2 {
    margin-top: 0.5rem;
    color: black;
    font-weight: 500;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
.contenedor-card-escalada {
  transform: scale(0.7); // 30% más pequeña
  transform-origin: top center;
  transition: transform 0.3s ease-in-out;

  width: 100%; // asegura que mantenga estructura responsiva
  display: flex;
  justify-content: center;
  align-items: center;
  
}