<!-- 
 
      <ion-icon name="image"  (click) = "desconectarse()">Salir</ion-icon>
-->
<ion-content class="ion-no-padding">
  <ion-fab slot="fixed" vertical="top" horizontal="center" style="margin-top: 20px;">
    <ion-fab-button (click) = "desconectarse()">
      <div class="imagen-icon-container">
      </div>
    </ion-fab-button>
  </ion-fab>

  <div class="botones-container">
    <ion-button class="boton boton-lindo" expand="block" fill="clear" (click)="edificioLindo()">
      <div class="contenido-boton ">
      </div>
    </ion-button>

    <ion-button class="boton boton-feo " expand="block" fill="clear" (click)="edificioFeo()">
      <div class="contenido-boton ">
      </div>
    </ion-button>
  </div>
</ion-content>

