.botones-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 80px; // Ajustá este valor según lo alto que querés dejar el espacio arriba
  gap: 16px; // Espacio entre los botones
}

ion-content {
  --background: var(--color-fondo);
  color: var(--color-texto);
}

.boton {
  flex: 1;
  --background: transparent;
  --border-width: 0;
  position: relative;
}

.contenido-boton {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 4px 4px 20px rgba(223, 255, 255, 2.4); 
  border-radius: 20px; 
}

.boton-lindo .contenido-boton {
  background-image: url('/assets/imagenes/edificioLindo.png');
}

.boton-feo .contenido-boton {
  background-image: url('/assets/imagenes/edificioFeo.jpg');
}
h2 {
  color: white;
  font-size: 24px;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}
ion-fab-button {
  background: red;
  box-shadow: 0px 4px 10px rgba(223, 0, 0, 2.4); 
  border-radius: 20px;
  overflow: visible;

  .imagen-icon-container {
    
    width: 100%;
    height: 100%;
    background-image: url('/assets/imagenes/salir.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
  }
}